body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333; /* Set a default text color */
    background-color: #f8f8f8; /* Set a background color for better contrast */
}

.container {
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
    }
}

